body {
  font-family: Arial;
}

.main{
  border: 2px solid black;
  max-width: 400px;
  min-width: 400px;
  height: auto;
  border-radius: 15px;
}

.screen{
  border: 3px solid lightgrey;
  border-top-color: grey;
  border-left-color: grey;
  width: 90%;
  height: auto;
  direction: rtl;
  unicode-bidi: plaintext;
  overflow: scroll;
  margin: 20px auto;
  border-radius: 8px;
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 3px;
  font-size: 40px;
  color: darkgrey;

}

.buttons{
  width: 95%;
  height: auto;
  margin: 20px auto;
  text-align: center;
}

.button{
  background-color: darkgrey;
  width: 23%;
  margin: 5px auto;
  padding-top: 5px;
  padding-bottom: 5px;

  border: 4px solid darkgrey;
  border-bottom-color: grey;
  border-right-color: grey;

  vertical-align: middle;
  display: inline-block;

  font-size: 18px;
  text-align: center;
  line-height: auto;
  border-radius: 10px;
}
