header {
	width: 95%;
	height: 10%;
	border-style: inset;
	border-radius: 12px;
	float: left;
	text-align: right;
}

.container {
  width: 300px;
  clear:both;
}

.button {
	width: 10%;
	padding: 12px 28px;
	text-align: center;
    display: inline-block;
    font-size: 16px;
	margin: 4px 2px;
	background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

.button:hover {
	background-color: #e7e7e7;
}

.main {
	 width: 275px;
	 border: 3px solid;
	 border-radius: 12px;
}