/*
CSS stylersheet for simple layout, 
Kevin Furlong 
C14710491
*/
header, footer {
	padding :15px;
	clear: both;
}

#content {
    width:45%;
	height:300px;
	border-style:solid;
	float:left;
}
 
#sidebar{
    width: 20%;
    padding-left: 20px;
	border-style: solid;
	margin: 5;
	float: left;
}

