#content{
  position: absolute;
  border-style: solid;
  width: 60%;
  height: 40%;
  padding: 1%;
}

#sidebar{
  position: absolute;
  left: 65%;
  border-style: solid;
  width: 10%;
  height:25%;
  padding: 2%;

}

ul{
    list-style: none;
}

body{
  background-color: #FFFFFF;
  font-family: sans-serif;
  font-style: italic;
}

footer{
  position: absolute;
  top: 60%;

}
