<style>
	h1 {
		font-size: large;
	}
</style>
<header>
  <h1>
      Title
  </h1>
</header>
<section id="content">
  <header>
    Article title
  </header>
  <section>
    <p>Article para1 ...</p>
  </section>
</section>
<aside id="sidebar">
  <header>
    Aside
  </header>
  <ul>
    <li>
      Item 1
    </li>
    <li>
      Item 2
    </li>
  </ul>
</aside>
<footer>
  <address>
    Kevin St, Dublin 8
  </address>
</footer>
