h1{
    font-family: Arial;
    font-style: italic;
}

#content{
    border: 1px solid black;
    width: 400px;
    height: 250px;
    display: inline-block;
    vertical-align: top;
    margin: 0px 15px 0px 15px;
    padding: 5px;
}

#sidebar{
    border: 1px solid black;
    width: 120px;
    height: 100px;
    display: inline-block;
    padding: 5px;
}

#sidebar header, #content header{
    font-family: Arial;
    font-style: italic;
}

#sidebar ul{
    list-style: none;
}

footer{
    padding: 5px;
}

ul li:nth-child(2)::first-letter{
    text-transform: lowercase;
}

