#content{
    float: left;
    width: 75%;
    height: 70%;
    border: 1px solid black
}

#sidebar{
    float: right;
    width: 24%;
    height: 30%;
    border: 1px solid black
}

footer{
    float: none;
    clear:both;
}