html {
	padding: 0;
	margin: 0;
	margin-left: 1vmax;
	font-weight: bold;
	font-family: arial;
	font-style: italic;
}

h1 {
	font-size: 2em;
}

header {
	font-size: 1.5em;
}

li {
	display: block;
}

#content, #sidebar {
	border: 1px solid black;
	display: inline-block;
	vertical-align:top;
	padding: 1vmin;
}

h1 {
	margin-bottom: 2vmax;
}

#content {
	width: 73vw;
	height: 66vh;
	margin-right: 1vmax;
}

#sidebar {
	width: 20vw;
}

footer { 
	margin-top: 1vmax;
}

address {
	font-family: "Times New Roman";
	font-size: 1.5em;
}
