/*
Kevin Furlong, 
C14710491
Calculator CSS

*/
body {
	width: 90%;
	border: 2px solid;
	border-radius: 15px;
	padding: 10px;
	background-color:#e6e6e6; 
}
header {
	width: 95%;
	border: 2px solid #b3b3b3;
	border-radius: 10px;
	box-shadow: 2px 2px #999999;
	margin: 5px;
	text-align: right;
    font-size: 25px;
	color: #a6a6a6;
	padding: 5px;
	background-color:#ffffff;
	}
input[type=Submit] {
	width: 20%;
	text-align: center;
    font-size: 15px;
	background-color: #b3b3b3;
    color: black;
    border: 2px solid #b3b3b3;
	border-radius: 15px;
	margin: 5px;
	box-shadow: 5px 5px #999999;
}


