.calculatorbody {
    background-color: powderblue;
    height: 400px;
    width: 400px;
    
    border-style: solid;
    border-radius: 20px;
}

div.display {
   
    height: 100px;
    width: 350px;
    
    position: relative;
    bottom: 0px;
    right: 0px;
    top: 20px;
    left: 20px; 
    text-align: right;
    border-style: inset;
    
    
   
    
    border-radius: 20px;
}

div.buttons {
    position: relative;
   
    background-color: lightgray;
    height: 30px;
    width: 70px;
    
    box-shadow: 1px 1px;
    border-style:outset;
    border-radius: 8px;
    
    text-align: center;
      
    
    
}

div.row_1_container {
    overflow: auto;
    position: relative;
    height: 50px;
    width: 400px;
    margin-left: 20px;
    margin-top: 35px;
}

div.row_2_container {
    overflow: auto;
    position: relative;
    height: 50px;
    width: 400px;
    margin-left: 20px;
   
}

div.row_3_container {
    overflow: auto;
    position: relative;
    height: 50px;
    width: 400px;
    margin-left: 20px;
   
}

div.row_4_container {
    overflow: auto;
    position: relative;
    height: 50px;
    width: 400px;
    margin-left: 20px;
   
}

div.row_5_container {
    overflow: auto;
    position: relative;
    height: 50px;
    width: 400px;
    margin-left: 20px;
    
    
}

#row_1 {
    position: relative;
    float: left;
    margin-left: 10px;
    
}

#row_2 {
    position: relative;
    float: left;
    margin-left: 10px;
}

#row_3 {
    position: relative;
    float: left;
    margin-left: 10px;
}

#row_4 {
    position: relative;
    float: left;
    margin-left: 10px;
}

#row_5 {
    position: relative;
    float: left;
    margin-left: 10px;
}



