#box {
    border-radius: 25px;
    width: 500px;
    height: 600px;
    padding: 5px;
    border: 2px solid black;
    margin: 0;
}

#screen{
    border-radius: 25px;
    width: 450px;
    height: 50px;
    padding: 20px;
    border: 2px solid black;
    margin: 0;

}

#row{
    display: inline-block;

}




#button{
    border-radius: 25px;
    width: 35px;
    height: 35px;
    padding: 20px;
    border: 3px solid grey;
    margin: 0;

}