body, html
{
  height: 99%
}
canvas
{
	float:left;
}
#buttons
{
	clear: both;
}
.button
{
	width: 70px;
	height:30px; 
	font-size: 16px;
	background: #D0D0D0;
	font-weight: BOLD;
	border-radius: 7px;
	margin-top: 10px;
	margin-bottom: 1px;
	margin-right: 170px;
	box-shadow: 1px 1px #888888;
}
#list
{
	overflow:scroll;
	height: 52%;
	padding: 0 0 0 1%;
}
.split_item
 {
	background-color: #ffff80;
} 