.chat-wrapper {
  margin-left: 280px;
}

.messages {
  height: 85vh;
  max-height: 85vh;
}

.input-field {
  height: 5vh;
  border-radius: 5px 0 0 5px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  outline: 0;
}

.input-field:focus {
  background-color: rgba(245, 243, 243, 0.5);
}

.send-button {
  background-color: #000;
  color: #fff;
  border: 0;
  border-radius: 0 5px 5px 0;
  outline: 0;
  cursor: pointer;
}

.send-button:hover {
  background-color: rgba(0, 0, 0, .8);
}

.chat-header {
  border-bottom: 1px solid lightgray;
}