.Messages, .Users {
  overflow-y: scroll;
  max-height: 475px;
  height: 475px;
}

.Delete-Button {
  padding-left: 1% 
}

/*https://css-tricks.com/almanac/properties/s/scrollbar/*/
.Messages::-webkit-scrollbar {
  width: 10px;
}

.Messages::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(127,127,127,.7);
}

.Messages::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/*https://css-tricks.com/almanac/properties/s/scrollbar/*/
.Users::-webkit-scrollbar {
  width: 10px;
}

.Users::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.SPInput {
  margin-top: 15px;
}

.IFrame {
  width: 100%;
  height: 475px;
  max-height: 475px;
  overflow-y: scroll;
}

.Grid {
  border-left-style: solid;
  border-right-style: solid;
  border-color: #474B4F;
}