/* Author: Nicola Mahon C15755031 */
/* For EFFICIENCY I have applied the stylings by grouping multiple CSS selectors. */

body
{
  font-family: sans-serif;
}

#search_inputs, #body
{
  min-width: 800px;
}

#input, #search, #userRepos
{
  margin-bottom: 5px;
}

#input, #search, #left, #right, #name, #uname, #email, #location, #gists
{
  display: inline-block;
	vertical-align: top;
}

#input_box, #search, #userHeader, #userRepos, .user_info
{
  font-weight: bold;
}

#input_box
{
  height: 30px;
}

#search, #box1, #box2, #repos
{
  border: 1px solid grey;
}

#search
{
  padding-top: 5px;
  padding-bottom: 5px;
  width: 80px;
  text-align: center;
  margin-left: 10px;
}

#left, #right
{
  max-height: 364px;
  width: 300px;
}

#userHeader, #userRepos, #box1
{
  margin-top: 5px;
}

#userHeader, #userRepos, #box1, #box2, #box3, .user_data
{
  max-width: inherit;
}

#box1, #box2, .user_data, .repo
{
  padding: 5px;
}

#box1
{
  max-height: 200px;
  padding-bottom: 20px;
}

#box2, #search
{
  border-radius: 5px;
}

#box2, #box3
{
  max-height: inherit;
}

#box3
{
  box-sizing: border-box;
}

#avatar
{
  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
}

.user_data
{
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  height: 40px;
}

.user_data, .repo
{
  border-bottom: 1px solid grey;
}

.user_info
{
  margin-right: 5px;
}

#name, #uname, #email, #location, #gists
{
  height: 27px;
  word-wrap: break-word;
}

#right
{
  margin-left: 15px;
}

#repos
{
  max-height: 480px;
}

.repo
{
  width: inherit;
  height: 69px;
}
