body {
  font-family: arial;
  font-size: medium;
  padding: 10px;
}

h3 {
  padding-top: 0;
}

img {
  width: 100%;
  border-radius: 5px;
}

form {
  padding: 10px 0 10px 0;
}

input {
  padding: 10px;
  border-radius: 5px;
}

input[type=text] {
  width: 40vw;
  margin-right: 20px;
}

input[type=submit] {
  width: 15vw;
  margin-right: 20px;
}

.column {
  float: left;
  position: relative;
  max-width: 40vh;
  max-height: 60vh;
  overflow-y: scroll;
  margin-right: 10px;
}

.rowItem {
  width: calc(100% - 8px);
  padding: 3px;
  border: 1px solid black;
}
