* {
  box-sizing: border-box;
}

body{
  margin:0;
}

.pageTop{
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
  float: left;
  width:40%;
}

.container{
  color:black;
  font-family: sans-serif;
  margin: auto;
}

.collumn{
  float: left;
  width: 40%;
  padding: 15px;
}

.grid-container{
  padding: 5px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 200px 50px 50px 50px 50px 50px;

}

@media only screen and (max-width: 1020px){
  img{
    width: 20%;
    height:auto
  }
}

#pic{
  width: 40%;
  height: auto;
}
.grid-container2{
  padding: 5px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 100px 100px 100px 100px 100px 100px;

}
.grid-container2{height:450px; }

.grid-container2{overflow:hidden; overflow-y:scroll;}

.item {
    padding: 5px;
    border: 2px solid black;
}

.item2{

  padding-left: 5px;
  border: 2px solid black;
}
