::placeholder
{
	color:lightGray;
}
#calc-contain
{
	position: relative;
	width: 300px;
	border: 2px solid black;
	border-radius: 12px;
	margin: 0px auto;
	padding: 20px 20px 20px 20px;
	background-color: #F8F8F8;
}
		
<!-- Create a CSS value for buttons since they are all same size-->
.button
{
}
.button1
{
	width: 70px;
	height:30px; 
	font-size: 16px;
	background: #D0D0D0;
	font-weight: BOLD;
	border-radius: 7px;
	margin-top: 10px;
	margin-bottom: 1px;
	box-shadow: 1px 1px #888888;
}
