.app {
  text-align: center;
}
.app__logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.app__header {
  background-color: black;
  padding: 20px;
  color: white;
}

.chat__list {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  margin: 0 auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}