* {
  box-sizing: border-box;
}

body {
  background: #F6F6F6;
  padding-bottom: 30px;
  padding-top: 30px;
}

.calculator {
  background: #DCDCDC;
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid #111;
  border-radius: 5px;
}

.calculator input {
  background: #F8F8F8;
  margin: 20px;
  border: 2px;
  border-style: inset;
  border-radius: 5px;
  box-shadow: none;
  width: 360px;
  padding: 10px;
  text-align: right;
  font-size: 40px;
}

.calculator-buttons {
  padding: 20px;
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(4, 1fr);
  grid-gap: 15px;

}

.calc-button {
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 2px 2px #D3D3D3;
  padding: 10px;
  color: #111;
  border-radius: 5px;
  font-size: 22px;
  cursor: pointer;
}
